extends layout

block content
  #home
    #learn
      #the-project
            #contact

              include sections/header-mobile
              include sections/navigation
              include sections/home
              include sections/learn
              include sections/project
              include sections/contact